.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #e8cfd1;
}

.header h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #BA8889;
  font-family: "EF_Rebecca";
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
