.home {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/img/새별\ 1.png');
}


.home .title {
  font-weight: 400;
  margin-top: 0;
  font-size: 60px;
  padding-top: 200px;
  text-align: center;
  color: #000000;
}

.home .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FAF2EA;
  margin: 50px auto;
  width: 80%;
  height: 220px;
  border-radius: 10px;
}

h2 {
  font-size: 25px;
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-align: center;
  text-decoration: none;
}

.home .container .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label {
  margin-right: 20px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
}