.login-box {
  display: block;
  margin: 40px auto;
  width: 500px;
  height: 700px;
  background-color: #FAF2EA;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-header {
  display: flex;
  justify-content: flex-start;
  background-color: #e8cfd1;
  width: 100%;
  height: 170px;
}

.login-box .login-header h1 {
  margin-top: 40px;
  margin-left: 40px;
  color: #BA8889;
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 74px;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
}

.link {
  cursor: pointer;
  color: #BA8889;
}

.signup {
  margin-left: 30px;
}