* {
  margin: 0;
  padding: 0;
}

.btn-box {
  width: 100%;
  position: relative;
}

.btn-box:hover {
  transform: scale(1.05);
}

.circle {
  margin-top: 100px;
  margin-right: 45px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 2px;
  left: 365px;
  transform: scale3d(2);
  cursor: pointer;
}

.arrow {
  margin-top: 100px;
  margin-right: 45px;
  width: 50px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 390px;
  cursor: pointer;
}